.google-ads {
    &-image-wrapper {
        padding: 40px 0;
        border-top: 1px solid var(--base-color);
        border-bottom: 1px solid var(--base-color);

        @media (min-width: 992px) {
            padding: 65px 0;
        }

        img {
            margin: 0 auto;
        }
    }
}
