.thinking-in-public.blogs_list {
  margin-top: 100px;
}
.thinking-in-public.blogs_list .sec_title {
  margin-bottom: 34px;
}
.thinking-in-public.blogs_list .sec_title h1 {
  color: var(--base-color);
  line-height: 1;
}
.thinking-in-public.blogs_list .left {
  width: 45%;
}
@media (min-width: 1400px) {
  .thinking-in-public.blogs_list .left {
    width: calc(50% - 30px);
  }
}
.thinking-in-public.blogs_list .right {
  flex-wrap: wrap;
  width: 55%;
}
@media (min-width: 1400px) {
  .thinking-in-public.blogs_list .right {
    width: 50%;
  }
}
.thinking-in-public.blogs_list .blog_items {
  padding: 70px 0;
  max-width: calc(100% - 122px);
}
@media (min-width: 1400px) {
  .thinking-in-public.blogs_list .blog_items {
    max-width: calc(100% - 122px);
  }
}
.thinking-in-public.blogs_list .blog_items .item h4 {
  margin-bottom: 0;
}
.thinking-in-public.blogs_list .blog_items .item:not(:last-child) {
  margin-bottom: 54px;
}
.thinking-in-public.blogs_list .article_item .image {
  margin-bottom: 19px;
}
.thinking-in-public.blogs_list .article_item .image img {
  width: 100%;
  max-width: 97.5%;
  max-height: 477px;
  height: auto;
  object-fit: cover;
}
.thinking-in-public.blogs_list .article_item .details {
  padding-bottom: 0;
  color: var(--base-color);
}
.thinking-in-public.blogs_list .article_item .details h2 {
  line-height: 1.1;
}
.thinking-in-public.blogs_list .audio_box {
  color: var(--base-color);
}
@media (min-width: 1400px) {
  .thinking-in-public.blogs_list .audio_box {
    margin-top: 15px;
  }
}
.thinking-in-public.blogs_list .audio_box .audio-player .playhead {
  background: var(--base-color);
}
