.thinking-in-public {
    &.blogs_list {
        margin-top: 100px;

        .sec_title {
            margin-bottom: 34px;

            h1 {
                color: var(--base-color);
                line-height: 1;
            }
        }

        .left {
            width: calc(45%);

            @media (min-width: 1400px) {
                width: calc(50% - 30px);
            }
        }

        .right {
            flex-wrap: wrap;
            width: 55%;

            @media (min-width: 1400px) {
                width: 50%;
            }
        }

        .blog_items {
            padding: 30px 0;
            max-width: 100%;

            @media (min-width: 768px) {
                padding: 70px 0;
            }

            @media (min-width: 992px) {
                max-width: calc(100% - 122px);
            }

            .item {
                h4 {
                    margin-bottom: 0;
                }

                p {
                    font-size: 20px;

                    @media (min-width: 576px) {
                        font-size: 26px;
                    }
                }

                &:not(:last-child) {
                    margin-bottom: 54px;
                }
            }
        }

        .article_item {
            .image {
                margin-bottom: 19px;

                img {
                    width: 100%;
                    max-width: 97.5%;
                    max-height: 477px;
                    height: auto;
                    object-fit: cover;
                }
            }

            .details {
                padding-bottom: 0;
                color: var(--base-color);

                h2 {
                    line-height: 1.1;

                    @media (max-width: 767px) {
                        font-size: 20px;
                    }
                }

                h4 {
                    @media (max-width: 767px) {
                        font-size: 16px;
                    }
                }
            }
        }

        .audio_box {
            color: var(--base-color);

            @media (min-width: 1400px) {
                margin-top: 15px;
            }

            .audio-player {
                .playhead {
                    background: var(--base-color);
                }
            }
        }
    }
}