@import url("https://use.typekit.net/vgo7kcm.css");
@import url("https://use.typekit.net/opn4ldq.css");
@import url("https://use.typekit.net/vzu4zlk.css");
@import url("https://use.typekit.net/xty4tuy.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
*,
::after,
::before {
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
}

body {
  font-family: freight-text-pro, serif;
  color: var(--base-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.overflow_hidden {
  overflow: hidden;
}

input,
select,
textarea,
button {
  font: inherit;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

u {
  text-decoration: underline;
}

a {
  cursor: pointer;
  text-decoration: none;
  transition: 0.2s;
  color: currentColor;
}

button {
  cursor: pointer;
  transition: 0.2s;
  background-color: transparent;
  border: unset;
}

img {
  max-width: 100%;
  display: block;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
}

h1 {
  font-size: 50px;
  font-weight: 400;
  line-height: 1.12;
  font-family: "bookmania", serif;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  line-height: 1.2;
}

h3 {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  font-family: freight-sans-pro, sans-serif;
}

h4 {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  font-style: italic;
}

h5 {
  font-size: 24px;
  font-weight: 500;
  font-family: freight-sans-pro, sans-serif;
}

h6 {
  font-size: 20px;
  font-weight: 500;
  font-family: freight-sans-pro, sans-serif;
}

p {
  font-size: 22px;
  font-weight: 400;
}

@media (max-width: 768px) {
  h1 {
    font-size: 36px;
  }
  p {
    font-size: 18px;
  }
}
h1 a, h2 a, h3 a {
  transition: 0.15s;
}
h1 a:hover, h2 a:hover, h3 a:hover {
  color: var(--brick-red);
}

a span:hover {
  color: var(--brick-red);
}

.blog_items a p:hover {
  color: var(--brick-red);
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1340px;
  }
}
@media (min-width: 1600px) {
  .container {
    max-width: 1540px;
  }
}
@media (min-width: 1900px) {
  .container {
    max-width: 1840px;
  }
}
:root {
  --base-color: #022a42;
  --slate-base: #516668;
  --navy-02: #011928;
  --navy-05: #677F8E;
  --gold: #C39948;
  --gold-hover: #b18b41;
  --brick-red: #9f3a22;
  --brick-red-hover: #942e15;
  --olive-green: #606036;
  --grey-100: #0f1318;
  --grey-200: #575A5D;
  --grey-300: #9FA1A3;
  --grey-400: #E7E7E8;
  --box-shadow-4: 0px 24px 35px 0px rgba(0, 0, 0, 0.04), 0px 9px 46px 0px rgba(0, 0, 0, 0.06), 0px 11px 15px 0px rgba(0, 0, 0, 0.10);
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.18;
  padding: 6px 16px;
  gap: 5px;
  width: fit-content;
  border-radius: 0;
  text-decoration: none !important;
}
.btn.gold {
  background-color: var(--gold);
  color: white;
}
.btn.gold:hover {
  background-color: var(--gold-hover);
}
.btn.red {
  background-color: var(--brick-red);
  color: white;
}
.btn.red:hover {
  background-color: var(--brick-red-hover);
}
.btn.dark_border {
  outline: 1px solid var(--base-color);
}
.btn.dark_border:hover {
  background-color: rgb(235, 235, 235);
}
.btn.btn_sm {
  font-size: 12px;
  font-weight: 700;
  padding: 10px 15px;
}

.view-all-btn svg {
  width: 21px;
  height: auto;
}
.view-all-btn span {
  color: var(--base-color) !important;
  font-style: italic !important;
  font-size: 20px !important;
  padding-left: 5px;
  padding-right: 5px;
}
.view-all-btn span:hover {
  color: var(--brick-red) !important;
}

@font-face {
  font-family: swiper-icons;
  src: url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA");
  font-weight: 400;
  font-style: normal;
}
:root {
  --swiper-theme-color:#007aff;
}

.swiper, swiper-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
  display: block;
}

.swiper-vertical > .swiper-wrapper {
  flex-direction: column;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  transition-timing-function: var(--swiper-wrapper-transition-timing-function, initial);
  box-sizing: content-box;
}

.swiper-android .swiper-slide, .swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}

.swiper-horizontal {
  touch-action: pan-y;
}

.swiper-vertical {
  touch-action: pan-x;
}

.swiper-slide, swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
  display: block;
}

.swiper-slide-invisible-blank {
  visibility: hidden;
}

.swiper-autoheight, .swiper-autoheight .swiper-slide {
  height: auto;
}

.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
  transition-property: transform, height;
}

.swiper-backface-hidden .swiper-slide {
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.swiper-3d.swiper-css-mode .swiper-wrapper {
  perspective: 1200px;
}

.swiper-3d .swiper-wrapper {
  transform-style: preserve-3d;
}

.swiper-3d {
  perspective: 1200px;
}

.swiper-3d .swiper-cube-shadow, .swiper-3d .swiper-slide, .swiper-3d .swiper-slide-shadow, .swiper-3d .swiper-slide-shadow-bottom, .swiper-3d .swiper-slide-shadow-left, .swiper-3d .swiper-slide-shadow-right, .swiper-3d .swiper-slide-shadow-top {
  transform-style: preserve-3d;
}

.swiper-3d .swiper-slide-shadow, .swiper-3d .swiper-slide-shadow-bottom, .swiper-3d .swiper-slide-shadow-left, .swiper-3d .swiper-slide-shadow-right, .swiper-3d .swiper-slide-shadow-top {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}

.swiper-3d .swiper-slide-shadow {
  background: rgba(0, 0, 0, 0.15);
}

.swiper-3d .swiper-slide-shadow-left {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-3d .swiper-slide-shadow-right {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-3d .swiper-slide-shadow-top {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-3d .swiper-slide-shadow-bottom {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-css-mode > .swiper-wrapper {
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.swiper-css-mode > .swiper-wrapper::-webkit-scrollbar {
  display: none;
}

.swiper-css-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: start start;
}

.swiper-horizontal.swiper-css-mode > .swiper-wrapper {
  scroll-snap-type: x mandatory;
}

.swiper-vertical.swiper-css-mode > .swiper-wrapper {
  scroll-snap-type: y mandatory;
}

.swiper-centered > .swiper-wrapper::before {
  content: "";
  flex-shrink: 0;
  order: 9999;
}

.swiper-centered > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: center center;
  scroll-snap-stop: always;
}

.swiper-centered.swiper-horizontal > .swiper-wrapper > .swiper-slide:first-child {
  margin-inline-start: var(--swiper-centered-offset-before);
}

.swiper-centered.swiper-horizontal > .swiper-wrapper::before {
  height: 100%;
  min-height: 1px;
  width: var(--swiper-centered-offset-after);
}

.swiper-centered.swiper-vertical > .swiper-wrapper > .swiper-slide:first-child {
  margin-block-start: var(--swiper-centered-offset-before);
}

.swiper-centered.swiper-vertical > .swiper-wrapper::before {
  width: 100%;
  min-width: 1px;
  height: var(--swiper-centered-offset-after);
}

.swiper-lazy-preloader {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -21px;
  margin-top: -21px;
  z-index: 10;
  transform-origin: 50%;
  box-sizing: border-box;
  border: 4px solid var(--swiper-preloader-color, var(--swiper-theme-color));
  border-radius: 50%;
  border-top-color: transparent;
}

.swiper-watch-progress .swiper-slide-visible .swiper-lazy-preloader, .swiper:not(.swiper-watch-progress) .swiper-lazy-preloader, swiper-container:not(.swiper-watch-progress) .swiper-lazy-preloader {
  animation: swiper-preloader-spin 1s infinite linear;
}

.swiper-lazy-preloader-white {
  --swiper-preloader-color:#fff;
}

.swiper-lazy-preloader-black {
  --swiper-preloader-color:#000;
}

@keyframes swiper-preloader-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.swiper-virtual .swiper-slide {
  -webkit-backface-visibility: hidden;
  transform: translateZ(0);
}

.swiper-virtual.swiper-css-mode .swiper-wrapper::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
}

.swiper-virtual.swiper-css-mode.swiper-horizontal .swiper-wrapper::after {
  height: 1px;
  width: var(--swiper-virtual-size);
}

.swiper-virtual.swiper-css-mode.swiper-vertical .swiper-wrapper::after {
  width: 1px;
  height: var(--swiper-virtual-size);
}

:root {
  --swiper-navigation-size:44px;
}

.swiper-button-next, .swiper-button-prev {
  position: absolute;
  top: var(--swiper-navigation-top-offset, 50%);
  width: calc(var(--swiper-navigation-size) / 44 * 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(0px - var(--swiper-navigation-size) / 2);
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--swiper-navigation-color, var(--swiper-theme-color));
}

.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}

.swiper-button-next.swiper-button-hidden, .swiper-button-prev.swiper-button-hidden {
  opacity: 0;
  cursor: auto;
  pointer-events: none;
}

.swiper-navigation-disabled .swiper-button-next, .swiper-navigation-disabled .swiper-button-prev {
  display: none !important;
}

.swiper-button-next:after, .swiper-button-prev:after {
  font-family: swiper-icons;
  font-size: var(--swiper-navigation-size);
  text-transform: none !important;
  letter-spacing: 0;
  font-variant: initial;
  line-height: 1;
}

.swiper-button-prev, .swiper-rtl .swiper-button-next {
  left: var(--swiper-navigation-sides-offset, 10px);
  right: auto;
}

.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
  content: "prev";
}

.swiper-button-next, .swiper-rtl .swiper-button-prev {
  right: var(--swiper-navigation-sides-offset, 10px);
  left: auto;
}

.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
  content: "next";
}

.swiper-button-lock {
  display: none;
}

.swiper-pagination {
  position: absolute;
  text-align: center;
  transition: 0.3s opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
}

.swiper-pagination.swiper-pagination-hidden {
  opacity: 0;
}

.swiper-pagination-disabled > .swiper-pagination, .swiper-pagination.swiper-pagination-disabled {
  display: none !important;
}

.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: var(--swiper-pagination-bottom, 8px);
  top: var(--swiper-pagination-top, auto);
  left: 0;
  width: 100%;
}

.swiper-pagination-bullets-dynamic {
  overflow: hidden;
  font-size: 0;
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  transform: scale(0.33);
  position: relative;
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active {
  transform: scale(1);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-main {
  transform: scale(1);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev {
  transform: scale(0.66);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev {
  transform: scale(0.33);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next {
  transform: scale(0.66);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next {
  transform: scale(0.33);
}

.swiper-pagination-bullet {
  width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 8px));
  height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 8px));
  display: inline-block;
  border-radius: var(--swiper-pagination-bullet-border-radius, 50%);
  background: var(--swiper-pagination-bullet-inactive-color, #000);
  opacity: var(--swiper-pagination-bullet-inactive-opacity, 0.2);
}

button.swiper-pagination-bullet {
  border: none;
  margin: 0;
  padding: 0;
  box-shadow: none;
  -webkit-appearance: none;
  appearance: none;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer;
}

.swiper-pagination-bullet:only-child {
  display: none !important;
}

.swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background: var(--swiper-pagination-color, var(--swiper-theme-color));
}

.swiper-pagination-vertical.swiper-pagination-bullets, .swiper-vertical > .swiper-pagination-bullets {
  right: var(--swiper-pagination-right, 8px);
  left: var(--swiper-pagination-left, auto);
  top: 50%;
  transform: translate3d(0px, -50%, 0);
}

.swiper-pagination-vertical.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: var(--swiper-pagination-bullet-vertical-gap, 6px) 0;
  display: block;
}

.swiper-pagination-vertical.swiper-pagination-bullets.swiper-pagination-bullets-dynamic, .swiper-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  top: 50%;
  transform: translateY(-50%);
  width: 8px;
}

.swiper-pagination-vertical.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet, .swiper-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  display: inline-block;
  transition: 0.2s transform, 0.2s top;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 4px);
}

.swiper-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic, .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.swiper-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  transition: 0.2s transform, 0.2s left;
}

.swiper-horizontal.swiper-rtl > .swiper-pagination-bullets-dynamic .swiper-pagination-bullet, :host(.swiper-horizontal.swiper-rtl) .swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  transition: 0.2s transform, 0.2s right;
}

.swiper-pagination-fraction {
  color: var(--swiper-pagination-fraction-color, inherit);
}

.swiper-pagination-progressbar {
  background: var(--swiper-pagination-progressbar-bg-color, rgba(0, 0, 0, 0.25));
  position: absolute;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: var(--swiper-pagination-color, var(--swiper-theme-color));
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: scale(0);
  transform-origin: left top;
}

.swiper-rtl .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  transform-origin: right top;
}

.swiper-horizontal > .swiper-pagination-progressbar, .swiper-pagination-progressbar.swiper-pagination-horizontal, .swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite, .swiper-vertical > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
  width: 100%;
  height: var(--swiper-pagination-progressbar-size, 4px);
  left: 0;
  top: 0;
}

.swiper-horizontal > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite, .swiper-pagination-progressbar.swiper-pagination-horizontal.swiper-pagination-progressbar-opposite, .swiper-pagination-progressbar.swiper-pagination-vertical, .swiper-vertical > .swiper-pagination-progressbar {
  width: var(--swiper-pagination-progressbar-size, 4px);
  height: 100%;
  left: 0;
  top: 0;
}

.swiper-pagination-lock {
  display: none;
}

.swiper-scrollbar {
  border-radius: var(--swiper-scrollbar-border-radius, 10px);
  position: relative;
  -ms-touch-action: none;
  background: var(--swiper-scrollbar-bg-color, rgba(0, 0, 0, 0.1));
}

.swiper-scrollbar-disabled > .swiper-scrollbar, .swiper-scrollbar.swiper-scrollbar-disabled {
  display: none !important;
}

.swiper-horizontal > .swiper-scrollbar, .swiper-scrollbar.swiper-scrollbar-horizontal {
  position: absolute;
  left: var(--swiper-scrollbar-sides-offset, 1%);
  bottom: var(--swiper-scrollbar-bottom, 4px);
  top: var(--swiper-scrollbar-top, auto);
  z-index: 50;
  height: var(--swiper-scrollbar-size, 4px);
  width: calc(100% - 2 * var(--swiper-scrollbar-sides-offset, 1%));
}

.swiper-scrollbar.swiper-scrollbar-vertical, .swiper-vertical > .swiper-scrollbar {
  position: absolute;
  left: var(--swiper-scrollbar-left, auto);
  right: var(--swiper-scrollbar-right, 4px);
  top: var(--swiper-scrollbar-sides-offset, 1%);
  z-index: 50;
  width: var(--swiper-scrollbar-size, 4px);
  height: calc(100% - 2 * var(--swiper-scrollbar-sides-offset, 1%));
}

.swiper-scrollbar-drag {
  height: 100%;
  width: 100%;
  position: relative;
  background: var(--swiper-scrollbar-drag-bg-color, rgba(0, 0, 0, 0.5));
  border-radius: var(--swiper-scrollbar-border-radius, 10px);
  left: 0;
  top: 0;
}

.swiper-scrollbar-cursor-drag {
  cursor: move;
}

.swiper-scrollbar-lock {
  display: none;
}

.swiper-zoom-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.swiper-zoom-container > canvas, .swiper-zoom-container > img, .swiper-zoom-container > svg {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.swiper-slide-zoomed {
  cursor: move;
  touch-action: none;
}

.swiper .swiper-notification, swiper-container .swiper-notification {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  z-index: -1000;
}

.swiper-free-mode > .swiper-wrapper {
  transition-timing-function: ease-out;
  margin: 0 auto;
}

.swiper-grid > .swiper-wrapper {
  flex-wrap: wrap;
}

.swiper-grid-column > .swiper-wrapper {
  flex-wrap: wrap;
  flex-direction: column;
}

.swiper-fade.swiper-free-mode .swiper-slide {
  transition-timing-function: ease-out;
}

.swiper-fade .swiper-slide {
  pointer-events: none;
  transition-property: opacity;
}

.swiper-fade .swiper-slide .swiper-slide {
  pointer-events: none;
}

.swiper-fade .swiper-slide-active, .swiper-fade .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}

.swiper-cube {
  overflow: visible;
}

.swiper-cube .swiper-slide {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1;
  visibility: hidden;
  transform-origin: 0 0;
  width: 100%;
  height: 100%;
}

.swiper-cube .swiper-slide .swiper-slide {
  pointer-events: none;
}

.swiper-cube.swiper-rtl .swiper-slide {
  transform-origin: 100% 0;
}

.swiper-cube .swiper-slide-active, .swiper-cube .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}

.swiper-cube .swiper-slide-active, .swiper-cube .swiper-slide-next, .swiper-cube .swiper-slide-next + .swiper-slide, .swiper-cube .swiper-slide-prev {
  pointer-events: auto;
  visibility: visible;
}

.swiper-cube .swiper-slide-shadow-bottom, .swiper-cube .swiper-slide-shadow-left, .swiper-cube .swiper-slide-shadow-right, .swiper-cube .swiper-slide-shadow-top {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.swiper-cube .swiper-cube-shadow {
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  z-index: 0;
}

.swiper-cube .swiper-cube-shadow:before {
  content: "";
  background: #000;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  filter: blur(50px);
}

.swiper-flip {
  overflow: visible;
}

.swiper-flip .swiper-slide {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1;
}

.swiper-flip .swiper-slide .swiper-slide {
  pointer-events: none;
}

.swiper-flip .swiper-slide-active, .swiper-flip .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}

.swiper-flip .swiper-slide-shadow-bottom, .swiper-flip .swiper-slide-shadow-left, .swiper-flip .swiper-slide-shadow-right, .swiper-flip .swiper-slide-shadow-top {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.swiper-creative .swiper-slide {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  transition-property: transform, opacity, height;
}

.swiper-cards {
  overflow: visible;
}

.swiper-cards .swiper-slide {
  transform-origin: center bottom;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
}

.toggle {
  writing-mode: lr;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.toggle .bars {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.toggle .bar {
  display: inline-block;
  width: 100%;
  width: 30px;
  height: 2px;
  margin: 3px 0;
  transform: none;
  transition: 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.toggle .bar::before {
  content: "";
  width: 100%;
  height: 2.2px;
  background-color: currentColor;
  border-radius: 5px;
  display: block;
  margin-left: auto;
}
.toggle.opened .bar:nth-child(2) {
  opacity: 0;
}
.toggle.opened .bar:nth-child(1) {
  transform: rotate(45deg);
  margin-bottom: -5px;
}
.toggle.opened .bar:nth-child(1)::before {
  width: 100%;
}
.toggle.opened .bar:nth-child(3) {
  transform: rotate(-45deg);
  margin-top: -5px;
}

.sec_title {
  margin-bottom: 30px;
}
.sec_title h5 {
  font-size: 14px;
  color: var(--primary-color);
  text-transform: uppercase;
  line-height: 1.714;
  margin-bottom: 8px;
}
.sec_title p {
  font-size: 18px;
  font-weight: 400;
}
.sec_title .flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid currentColor;
}

@media (max-width: 768px) {
  .sec_title .flex {
    flex-wrap: wrap;
    gap: 12px;
  }
  .sec_title h1 {
    font-size: 36px;
  }
}
.top_header {
  background-color: var(--base-color);
  padding: 16px 0;
}
.top_header .icons {
  display: flex;
  align-items: center;
  gap: 20px;
}
.top_header .icons svg {
  display: block;
}

.site_header {
  width: 100%;
  z-index: 10;
  padding: 20px 0 10px;
  background-color: white;
  margin-bottom: 25px;
}
.site_header .wrapper {
  width: 100%;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.site_header .site_logo {
  display: block;
  width: 100%;
  max-width: 400px;
}
@media (min-width: 1400px) {
  .site_header .site_logo {
    position: relative;
    top: 10px;
  }
}
.site_header .menu {
  display: flex;
  align-items: center;
}
.site_header .menu li.menu-item a {
  display: block;
  padding: 10px 15px;
  font-size: 20px;
  font-weight: 400;
  font-style: italic;
}
.site_header .menu li.menu-item a:hover {
  color: var(--brick-red);
}
.site_header .search_bar > .btn {
  padding: 0;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.site_header .search_bar > .btn > div {
  position: absolute;
  transform: scale(0.7);
  opacity: 0;
  transition: 0.15s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.site_header .search_bar > .btn .search_btn {
  opacity: 1;
  transform: scale(1);
}
.site_header .search_bar > .btn svg {
  display: block;
}
.site_header .search_bar > .btn.active .close_btn {
  transform: scale(1);
  opacity: 1;
}
.site_header .search_bar > .btn.active .search_btn {
  transform: scale(0.7);
  opacity: 0;
}
.site_header .search_bar .bar {
  opacity: 0;
  width: 0;
  position: absolute;
  top: 50%;
  right: 0;
  left: 35px;
  transform: translateY(-50%);
  z-index: 2;
  transition: 0.15s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.site_header .search_bar .bar.opened {
  width: 27%;
  opacity: 1;
}
.site_header .search_bar input {
  height: 60px;
  width: 100%;
  padding: 16px;
  font-size: 22px;
  border: 1px solid var(--navy-05);
}
.site_header .action_list {
  display: inline-flex;
  align-items: center;
  gap: 16px;
}

.header_nav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: white;
  margin-bottom: 60px;
}
.header_nav .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--base-color);
}
.header_nav .navbar.menus li.menu-item.active a {
  color: var(--brick-red);
}
.header_nav .navbar.menus li.menu-item a {
  display: block;
  font-size: 26px;
  font-weight: 400;
  padding: 10px 0 6px;
  text-transform: uppercase;
}
.header_nav .navbar.menus li.menu-item a:hover {
  color: var(--brick-red);
}

@media (max-width: 992px) {
  .site_header .site_logo {
    width: 250px;
    max-width: 80%;
  }
  .site_header .left,
  .site_header .action_list {
    display: none;
  }
  .header_nav {
    display: none;
  }
}
@media (max-width: 1600px) {
  .header_nav .navbar .nav_link {
    font-size: 22px;
  }
}
.mobile_menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.6);
  transition: all 0.35s;
  opacity: 0;
  visibility: hidden;
}
.mobile_menu.opened {
  opacity: 1;
  visibility: visible;
}
.mobile_menu.opened .inner {
  transform: translateX(0%);
}
.mobile_menu .inner {
  width: 300px;
  max-width: 82%;
  height: 100%;
  background-color: white;
  transform: translateX(-100%);
  transition: all 0.35s;
}
.mobile_menu .top {
  position: relative;
  text-align: center;
  padding: 10px;
}
.mobile_menu .top .close_btn {
  position: absolute;
  left: 10px;
  top: 10px;
}
.mobile_menu .top .logo {
  display: inline-block;
  width: 150px;
}
.mobile_menu .top .logo img {
  width: 100%;
}
.mobile_menu .search_bar {
  position: relative;
  margin: 0 10px;
}
.mobile_menu .search_bar .form_wrap {
  display: flex;
  align-items: center;
}
.mobile_menu .search_bar button {
  color: currentColor;
  position: absolute;
  right: 12px;
}
.mobile_menu .search_bar svg {
  width: 20px;
  height: auto;
  display: block;
}
.mobile_menu .search_bar svg path {
  fill: currentColor;
}
.mobile_menu .search_bar input {
  width: 100%;
  height: 40px;
  padding: 12px;
  font-size: 15px;
  border-radius: 4px;
  font-family: Gotham;
  border: 1px solid var(--base-color);
}
.mobile_menu .menu {
  font-size: 19px;
  font-weight: 600;
  position: relative;
  overflow: hidden;
}
.mobile_menu .menu .menu-item a {
  font-size: 17px;
  font-weight: 500;
  padding: 10px 15px;
  font-family: Gotham, sans-serif;
}
.mobile_menu .menu .menu-item a .arrow_right {
  width: 19px;
  height: 27px;
  transform: rotate(180deg);
}
.mobile_menu .menu .dropdown .nav_link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mobile_menu .menu .dropdown_menu {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
  background-color: white;
  width: 100%;
  height: 100%;
  transform: translateX(120%);
  transition: all 0.35s;
}
.mobile_menu .menu .dropdown_menu a {
  display: block;
  padding: 10px 15px;
  color: var(--text-color);
}
.mobile_menu .menu .dropdown_menu.opened {
  transform: translateX(0%);
}
.mobile_menu .menu .back_btn {
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  padding: 10px;
  font-size: 16px;
}
.mobile_menu .menu .back_btn img {
  width: 24px;
  height: 24px;
}
.mobile_menu .menu a {
  display: block;
  color: currentColor;
}
.mobile_menu .action_list {
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 7px;
}
.mobile_menu .action_list .action_item {
  width: 100%;
}

@media (min-width: 991px) {
  .mobile_menu {
    display: none;
  }
  .site_header .toggle {
    display: none;
  }
}
@media (max-width: 992px) {
  .site_header .site_logo {
    margin-right: auto;
    display: block;
  }
}
.site_footer {
  background-color: var(--navy-02);
  color: white;
  padding: 80px 0 95px;
}
@media (min-width: 1600px) {
  .site_footer .container {
    max-width: 1400px;
  }
}
.site_footer .newsletter-widget-copy {
  font-size: 16px;
}
.site_footer h5 {
  font-family: Gotham;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 4px;
  text-transform: uppercase;
  color: var(--primary-color);
}
.site_footer .footer-navigation ul li a {
  font-family: "indivisible", sans-serif;
}
.site_footer .socialMedia {
  display: inline-flex;
  align-items: center;
  row-gap: 60px;
  column-gap: 20px;
  margin-bottom: 42px;
}
.site_footer .socialMedia a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 59px;
  height: 59px;
  border-radius: 50%;
  border: 1px solid var(--primary-color);
  transition: 0.15s;
}
.site_footer .socialMedia a img {
  transition: 0.15s;
}
.site_footer .socialMedia a:hover img {
  transition: 0.15s;
  transform: scale(1.09);
  opacity: 0.9;
}
.site_footer .socialMedia ul {
  display: flex;
  gap: 30px;
}
.site_footer .col {
  width: 26%;
}
.site_footer .col:first-child {
  margin-right: 70px;
  padding-left: 40px;
  padding-bottom: 50px;
  border-left: 1px solid var(--primary-color);
  border-bottom-left-radius: 34px;
}
.site_footer .col:nth-child(2) {
  width: fit-content;
  max-width: 184px;
  font-family: Gotham;
  margin-right: 100px;
}
.site_footer .foot_top {
  text-align: center;
}
.site_footer h6 {
  margin-bottom: 10px;
}
.site_footer .newsletter p {
  margin-bottom: 10px;
}
.site_footer .newsletter .form_wrap input {
  width: 100%;
  height: 38px;
  padding: 0 16px;
  font-size: 22px;
  font-weight: 400;
  color: white;
  background-color: transparent;
  border: 1px solid var(--navy-05);
  margin-bottom: 7px;
}
.site_footer .newsletter .form_wrap input::placeholder {
  color: var(--navy-05);
}
.site_footer .newsletter .form_wrap .btn {
  font-size: 12px;
  font-weight: 700;
  background-color: var(--gold);
  color: white;
  width: auto;
  height: 34.5px;
  border: 0;
}
.site_footer .newsletter .form_wrap .btn:hover {
  background-color: var(--gold-hover);
}
.site_footer .footer-navigation {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}
.site_footer .footer-navigation > div {
  width: 33.33%;
}
.site_footer .footer-navigation ul li a {
  font-size: 16px;
  font-weight: 400;
  display: block;
  padding: 4px 0;
  color: #f9f8f0;
}
.site_footer .footer-navigation ul li a:hover {
  opacity: 0.7;
}
.site_footer .footer-navigation h6 {
  height: 26px;
}
.site_footer .foot_main {
  margin-bottom: 60px;
}
.site_footer .foot_main .wrapper {
  padding: 60px 0;
  border-top: 1px solid var(--navy-05);
  border-bottom: 1px solid var(--navy-05);
}
.site_footer .foot_bottom {
  text-align: center;
}
.site_footer .foot_bottom p {
  color: var(--gold);
}

@media (max-width: 992px) {
  .site_footer {
    padding: 20px 0;
  }
  .site_footer .socialMedia {
    padding-bottom: 20px;
  }
  .site_footer .foot_main {
    margin-bottom: 20px;
  }
  .site_footer .foot_main .wrapper {
    padding: 20px 0;
  }
  .site_footer .foot_main .footer-navigation {
    width: 100%;
    margin-bottom: 24px;
  }
  .site_footer .foot_main .newsletter {
    width: 100%;
  }
  .site_footer .foot_bottom p {
    font-size: 18px;
  }
  .site_footer .socialMedia svg {
    width: 24px;
    height: auto;
  }
}
@media (max-width: 768px) {
  .site_footer .foot_main .footer-navigation {
    flex-wrap: wrap;
  }
  .site_footer .foot_main .footer-navigation > div {
    width: 50%;
  }
}
.sub-footer {
  padding: 60px 0;
  overflow: hidden;
}
.sub-footer .row.mt-5 {
  margin-top: 70px !important;
}

.blogs_list .sec_title {
  color: var(--base-color);
  margin-bottom: 30px;
}
.blogs_list .left {
  width: calc(50% + 120px);
}
.blogs_list .left .article_item .image img {
  box-shadow: var(--box-shadow-4);
}
.blogs_list .right {
  width: calc(50% - 60px);
  display: flex;
}
.blogs_list .right::before {
  content: "";
  height: 100%;
  width: 1px;
  display: block;
  margin: 0 60px;
  background-color: var(--base-color);
}
.blogs_list .wrapper {
  flex-wrap: nowrap;
}
.blogs_list .audio_box {
  color: var(--base-color);
  border: unset;
  padding: 0;
}
.blogs_list .audio_box .timeslieder {
  border-color: var(--base-color);
}
.blogs_list .article_item .details {
  color: var(--base-color);
}
.blogs_list .article_item .details h2 {
  font-size: 26px;
  margin-bottom: 14px;
}
.blogs_list .blog_items {
  align-self: center;
}
.blogs_list .blog_items .item {
  color: var(--base-color);
}
.blogs_list .blog_items .item .image {
  height: fit-content;
}
.blogs_list .blog_items .item .image iframe {
  aspect-ratio: 56/31;
  width: 100%;
  height: auto;
  object-fit: cover;
}
.blogs_list .blog_items .item:not(:last-child) {
  margin-bottom: 60px;
}
.blogs_list .blog_items .item h4 {
  margin-bottom: 8px;
}
.blogs_list .blog_items .item p {
  font-size: 26px;
}

@media (max-width: 991px) {
  .blogs_list .wrapper {
    flex-wrap: wrap;
  }
  .blogs_list .left,
  .blogs_list .right {
    width: 100% !important;
  }
  .blogs_list .right {
    margin-top: 40px;
  }
  .blogs_list .right::before {
    display: none;
  }
}
.audio_box {
  color: var(--base-color);
  border-top: 1px solid #677f8e;
  border-bottom: 1px solid #677f8e;
  padding: 24px 0;
}
@media (min-width: 1400px) {
  .audio_box {
    margin-top: 27px;
  }
}
.audio_box svg {
  display: block;
}
.audio_box .play_btn {
  cursor: pointer;
}
.audio_box .play_btn svg {
  display: block;
}
.audio_box .play_btn .pause {
  display: none;
}
.audio_box .play_btn.active .icon_start {
  display: none;
}
.audio_box .play_btn.active .pause {
  display: block;
}
.audio_box .audio-player {
  display: flex;
  align-items: center;
  gap: 12px;
}
.audio_box .audio-player .audio-time {
  font-size: 26px;
  font-weight: 400;
}
.audio_box .audio-player .audio-time[data-elapsed] {
  min-width: 63px;
}
.audio_box .audio-player .indicator-container {
  position: relative;
  flex-grow: 1;
  height: 16px;
  display: flex;
  align-items: center;
}
.audio_box .audio-player .indicator-bar-empty {
  width: 100%;
  height: 16px;
  border: 1px solid var(--navy-05);
  z-index: 0;
}
.audio_box .audio-player .indicator-bar-full {
  position: absolute;
  box-sizing: border-box;
  top: 0;
  width: 0%;
  height: 16px;
  border-radius: 3px;
  z-index: 25;
}
.audio_box .audio-player .playhead {
  position: absolute;
  top: -5px;
  bottom: -5px;
  width: 12px;
  background: var(--brick-red);
  border-radius: 99px;
  z-index: 3;
  cursor: pointer;
}
.audio_box span.fa {
  cursor: pointer;
}

.article_parts {
  padding: 16px 0;
}
.article_parts .item {
  display: block;
  margin-bottom: 30px;
}
.article_parts .item:last-child {
  margin-bottom: 0;
}
.article_parts .item h3 {
  color: var(--brick-red);
  text-decoration: underline;
}
.article_parts .item h3:hover {
  color: var(--base-color);
}
.article_parts .item p {
  font-size: 26px;
}
.article_parts .item p:hover {
  color: var(--brick-red);
}

.top_article .wrapper {
  margin: 0 -20px;
  align-items: center;
}
.top_article .content h4 {
  color: var(--navy-04);
  margin-bottom: 20px;
}
.top_article .content h1 {
  margin-bottom: 20px;
}
.top_article .content p {
  margin-bottom: 20px;
  color: var(--navy-02);
}

@media (max-width: 992px) {
  .top_article .col-6 {
    width: 100%;
    margin-bottom: 20px;
  }
}
.article_archives .article_item:not(:first-child) {
  padding-top: 50px;
}
.article_archives .article_item:last-child {
  border-bottom: unset;
}
.article_archives .bottom {
  text-align: right;
}

.single_article .article_image img {
  width: 100%;
  aspect-ratio: 18/6;
  object-fit: cover;
  object-position: top;
}
.single_article .breadcrump {
  font-size: 14px;
  font-weight: 700;
  color: var(--navy-05);
  margin: 60px 0 30px;
}
.single_article .article_content {
  display: flex;
  gap: 40px;
}
@media (min-width: 1600px) {
  .single_article .article_content {
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
  }
}
.single_article .article_content .title {
  border-bottom: 1px solid var(--navy-05);
  padding-bottom: 40px;
  margin-bottom: 40px;
}
.single_article .article_content p {
  margin-bottom: 1rem;
}
.single_article .article_content a {
  text-decoration: underline;
}
.single_article .article_content a:hover {
  text-decoration: underline;
  color: var(--brick-red);
}
.single_article .main_content > .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
.single_article .main_content > .top .date {
  color: var(--grey-200);
}
.single_article .main_content > .bottom {
  margin-top: 40px;
}
.single_article .socialMeda {
  display: inline-flex;
  align-items: center;
  gap: 10px;
}
.single_article .author {
  background-color: var(--gold);
  color: white;
  width: 100%;
  max-width: 313px;
  padding: 20px;
  top: 70px;
  margin-bottom: 30px;
}
.single_article .author h2 {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid var(--grey-400);
}
.single_article .author h1 {
  font-size: 40px;
}
.single_article .author p {
  margin-bottom: 12px;
}
.single_article .author .btn {
  font-size: 14px;
  font-weight: 700;
  background-color: white;
  color: var(--gold);
  padding: 10px 16px;
  margin-top: 6px;
  transition: 0.15s;
}
.single_article .author .btn:hover {
  color: var(--gold);
  transition: 0.15s;
  opacity: 0.9;
}

@media (max-width: 991px) {
  .single_article .article_image img {
    aspect-ratio: 3/2;
  }
  .single_article .article_content {
    flex-direction: column;
  }
  .single_article .author {
    width: 100%;
    position: static;
  }
  .single_article .author h2 {
    font-size: 20px;
  }
  .single_article .author h1 {
    font-size: 32px;
  }
  .single_article .author p {
    font-size: 16px;
  }
}
.result {
  padding: 40px 0;
}
.result .aside {
  width: 400px;
  flex-shrink: 0;
}
.result .aside .block:not(:last-child) {
  margin-bottom: 30px;
}
.result .aside .block .head {
  border-bottom: 1px solid var(--navy-05);
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.result .aside .block .head h4 {
  font-style: normal;
  font-size: 26px;
  font-weight: 400;
}
.result .aside .checkbox {
  margin: 10px 0;
  display: block;
  cursor: pointer;
}
.result .aside .checkbox .icon {
  width: 21px;
  height: 21px;
  border-radius: 2px;
  background-size: contain;
  background-position: center;
  position: relative;
  background-image: url("data:image/svg+xml,%3Csvg width='21' height='22' viewBox='0 0 21 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18 0.5C19.6406 0.5 21 1.85938 21 3.5V18.5C21 20.1875 19.6406 21.5 18 21.5H3C1.3125 21.5 0 20.1875 0 18.5V3.5C0 1.85938 1.3125 0.5 3 0.5H18ZM18 2.75H3C2.57812 2.75 2.25 3.125 2.25 3.5V18.5C2.25 18.9219 2.57812 19.25 3 19.25H18C18.375 19.25 18.75 18.9219 18.75 18.5V3.5C18.75 3.125 18.375 2.75 18 2.75Z' fill='%23677F8E'/%3E%3C/svg%3E%0A");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.result .aside .checkbox .icon::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: scale(0.4);
  background-image: url("data:image/svg+xml,%3Csvg width='462' height='462' viewBox='0 0 462 462' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_480_448)'%3E%3Cpath d='M399 0H63C28.2061 0 0 27.964 0 62.4592V399.541C0 434.036 28.2061 462 63 462H399C433.794 462 462 434.036 462 399.541V62.4592C462 27.964 433.794 0 399 0Z' fill='%239F3A22'/%3E%3Cmask id='mask0_480_448' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='1' width='462' height='460'%3E%3Cpath d='M217.594 316.882C206.25 328.128 188.719 328.128 177.375 316.882L111.375 251.448C100.031 240.201 100.031 222.821 111.375 211.574C122.719 200.328 140.25 200.328 151.594 211.574L198 256.56L309.375 146.141C320.719 134.894 338.25 134.894 349.594 146.141C360.938 157.387 360.938 174.768 349.594 186.015L217.594 316.882ZM0 67.4164C0 31.6324 28.875 1.98291 66 1.98291H396C432.094 1.98291 462 31.6324 462 67.4164V394.584C462 431.39 432.094 460.017 396 460.017H66C28.875 460.017 0 431.39 0 394.584V67.4164ZM49.5 67.4164V394.584C49.5 403.785 56.7188 410.942 66 410.942H396C404.25 410.942 412.5 403.785 412.5 394.584V67.4164C412.5 59.2372 404.25 51.058 396 51.058H66C56.7188 51.058 49.5 59.2372 49.5 67.4164Z' fill='%239F3A22'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_480_448)'%3E%3Cpath d='M398 79.3135H79V384.67H398V79.3135Z' fill='white'/%3E%3C/g%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_480_448'%3E%3Crect width='462' height='462' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  background-position: center;
  background-size: contain;
  transition: 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.result .aside .checkbox .inner {
  display: flex;
  align-items: center;
  gap: 12px;
  color: var(--navy-05);
}
.result .aside .checkbox .inner span {
  font-size: 26px;
  font-weight: 400;
}
.result .aside .checkbox input {
  display: none;
}
.result .aside .checkbox input:checked + .inner .icon::after {
  transform: scale(1);
  opacity: 1;
}
.result .main_content {
  width: calc(100% - 400px);
  padding-left: 100px;
}
.result .main_content > .head .search_text {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 12px;
  font-size: 30px;
  font-weight: 600;
  border-bottom: 1px solid var(--navy-05);
  padding-bottom: 2px;
  margin-bottom: 10px;
}
.result .main_content > .head .tags {
  min-height: 36px;
}
.result .main_content > .head .tags .tag {
  font-size: 18px;
  display: inline-flex;
  background-color: var(--gold);
  color: white;
  padding: 6px 10px;
  gap: 10px;
  cursor: pointer;
}
.result .main_content > .head .pag {
  text-align: right;
  margin-top: 56px;
}
.result .article_item {
  padding: 50px 0;
  display: flex;
  align-items: center;
}
.result .article_item:not(:last-child) {
  border-bottom: 1px solid var(--navy-05);
}
.result .article_item .image {
  display: block;
  width: 470px;
  max-width: 39%;
  overflow: hidden;
  flex-shrink: 0;
  margin-right: 40px;
  box-shadow: var(--box-shadow-4);
}
.result .article_item .image img {
  transition: 0.1s;
  aspect-ratio: 52/27;
  object-fit: cover;
}
.result .article_item .details .country {
  color: var(--navy-05);
  margin-bottom: 20px;
}
.result .article_item .details h2 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
}
.result .article_item .details p {
  margin-bottom: 20px;
}
.result .article_item .details p span {
  color: var(--brick-red);
}
.result .article_item:hover .image img {
  transform: scale(1.05);
}

@media (max-width: 991px) {
  .result .aside {
    width: 100%;
    margin-bottom: 44px;
  }
  .result .main_content {
    width: 100%;
    padding-left: 0;
  }
  .result .article_item {
    flex-direction: column;
  }
  .result .article_item .image {
    width: 100%;
    max-width: 100%;
    margin-right: 0;
  }
}
.last_articles {
  margin: 160px 0;
  overflow: hidden;
}
.last_articles .sec_title {
  margin-bottom: 34px;
}
.last_articles .sec_title .flex {
  border-color: #022a42;
}
.last_articles .sec_title h1 {
  line-height: 1;
}
.last_articles .article_item .image {
  display: block;
  width: 100%;
  overflow: hidden;
  box-shadow: var(--box-shadow-4);
}
.last_articles .article_item .image img {
  transition: 0.1s;
  width: 100%;
  min-height: 335px;
  object-fit: cover;
}
.last_articles .article_item .details .country {
  color: var(--navy-05);
  margin-bottom: 20px;
}
.last_articles .article_item .details h2 {
  font-size: 26px;
  margin-bottom: 20px;
  line-height: 100%;
}
.last_articles .article_item .details p {
  color: var(--base-color);
  margin-bottom: 20px;
}
.last_articles .article_item.single {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #022a42;
  padding-bottom: 60px;
}
.last_articles .article_item.single .image {
  margin-right: 40px;
  margin-bottom: 0;
  max-width: 640px;
}
.last_articles .article_item:hover .image img {
  transform: scale(1.05);
}
.last_articles .items_list {
  display: flex;
  padding-top: 60px;
  margin: 0 -60px;
}
.last_articles .items_list .article_item {
  padding: 0 60px;
  position: relative;
}
.last_articles .items_list .article_item:not(:last-child)::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 1px;
  background-color: #022a42;
}
.last_articles .items_list .article_item .image {
  margin-bottom: 26px;
}
.last_articles .items_list .article_item .image img {
  min-height: 272px;
}

@media (max-width: 991px) {
  .last_articles {
    margin: 100px 0;
  }
  .last_articles .article_item.single {
    flex-direction: column;
  }
  .last_articles .article_item.single .image {
    margin-right: 0;
    margin-bottom: 24px;
  }
  .last_articles .items_list {
    flex-wrap: wrap;
    margin: 0 -20px;
  }
  .last_articles .items_list .article_item {
    padding: 0 20px;
    width: 50%;
  }
  .last_articles .items_list .article_item::after {
    display: none;
  }
}
@media (max-width: 575px) {
  .last_articles .items_list .article_item {
    width: 100%;
  }
  .last_articles .items_list .article_item:not(:last-child) {
    margin-bottom: 34px;
  }
}
.briefing {
  margin-bottom: 40px;
}
.briefing .title {
  margin: 40px 0 30px;
  line-height: 1;
}
.briefing .bottom .btn {
  padding: 0;
  color: var(--brick-red);
}
.briefing .bottom .btn:hover {
  color: var(--base-color);
}
.briefing .past_episodes {
  padding-top: 100px;
}
.briefing .past_episodes .sec_title {
  margin-bottom: 0;
}
.briefing .past_episodes .blog_items .blog_item {
  display: flex;
  align-items: center;
  padding: 50px 0;
  border-bottom: 1px solid var(--navy-05);
}
.briefing .past_episodes .blog_items .blog_item:last-child {
  border-bottom: unset;
}
.briefing .past_episodes .blog_items .blog_item .image {
  width: 100%;
  max-width: 470px;
  flex-shrink: 0;
  margin-right: 40px;
}
.briefing .past_episodes .blog_items .blog_item .image img {
  width: 100%;
}
.briefing .past_episodes .blog_items .blog_item .date {
  margin-bottom: 20px;
}
.briefing .past_episodes .blog_items .blog_item .breafing-post-title {
  text-transform: uppercase;
  font-size: 20px;
  line-height: 26px;
  font-family: freight-sans-pro, sans-serif;
  font-weight: 600;
  margin-bottom: 20px;
}
.briefing .past_episodes .blog_items .blog_item .breafing-post-title a {
  color: var(--base-color);
}
.briefing .past_episodes .blog_items .blog_item .breafing-post-title a:hover {
  color: var(--brick-red);
}
.briefing .past_episodes .blog_items .blog_item p {
  font-size: 26px;
  line-height: 28px;
  margin-bottom: 26px;
}
.briefing .past_episodes .blog_items .blog_item p:last-of-type {
  margin-bottom: 0;
}
.briefing .past_episodes .blog_items .blog_item .tag {
  color: var(--navy-05);
}
.briefing .past_episodes > .pagination {
  float: right;
}

.pagination {
  display: inline-flex;
  align-items: center;
  gap: 4px;
}
.pagination ul {
  display: flex;
  gap: 4px;
}
.pagination ul li.active span {
  border-color: var(--brick-red);
}
.pagination .arrow,
.pagination span {
  font-size: 24px;
  font-weight: 500;
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: freight-sans-pro, sans-serif;
}
.pagination span {
  border: 1px solid var(--grey-300);
}
.pagination .next_arrow {
  border: 1px solid var(--grey-300);
}
.pagination .prev_arrow {
  background-color: var(--grey-400);
}

@media (max-width: 991px) {
  .briefing .past_episodes .blog_items .blog_item {
    flex-direction: column;
  }
  .briefing .past_episodes .blog_items .blog_item .image {
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 24px;
  }
}
.sidebar-widgets-wrapper {
  max-width: 313px;
  top: 100px;
  flex-shrink: 0;
  height: fit-content;
  margin-bottom: 20px;
}
@media (min-width: 992px) {
  .sidebar-widgets-wrapper {
    position: sticky;
    margin-bottom: 40px;
  }
}

.sidebar-widget {
  background-color: var(--gold);
  color: white;
  width: 100%;
  padding: 20px;
  margin-bottom: 30px;
}
.sidebar-widget:last-child {
  margin-bottom: 0;
}
.sidebar-widget h2 {
  font-size: 24px;
  font-family: freight-text-pro, serif;
  font-weight: 700;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid var(--grey-400);
}
.sidebar-widget .menu-item a {
  font-size: 20px;
  text-decoration: underline;
  line-height: 1.5;
}
.sidebar-widget .menu-item-description {
  font-size: 16px;
  font-style: italic;
}

.internal-pages-bottom-widgets h1, .internal-pages-bottom-widgets h2 {
  display: flex;
  border-bottom: 1px solid currentColor;
  margin-bottom: 30px;
  font-size: 28px;
  font-weight: 400;
  line-height: 1.12;
  font-family: "bookmania", serif;
}
@media (min-width: 576px) {
  .internal-pages-bottom-widgets h1, .internal-pages-bottom-widgets h2 {
    font-size: 40px;
  }
}
@media (min-width: 768px) {
  .internal-pages-bottom-widgets h1, .internal-pages-bottom-widgets h2 {
    justify-content: center;
    font-size: 40px;
  }
}
@media (min-width: 1200px) {
  .internal-pages-bottom-widgets h1, .internal-pages-bottom-widgets h2 {
    font-size: 50px;
  }
}
.internal-pages-bottom-widgets .menu .menu-item a {
  font-size: 18px;
  font-weight: 500;
  display: block;
  padding: 3px 0;
  font-family: freight-sans-pro, sans-serif;
  text-transform: uppercase;
}
.internal-pages-bottom-widgets .menu .menu-item a:hover {
  color: var(--brick-red);
}
.internal-pages-bottom-widgets.topics-bottom-widget .menu {
  columns: 1;
}
@media (min-width: 768px) {
  .internal-pages-bottom-widgets.topics-bottom-widget .menu {
    columns: 2;
    width: 100%;
  }
}
@media (min-width: 992px) {
  .internal-pages-bottom-widgets.topics-bottom-widget .menu {
    columns: 3;
  }
}
@media (min-width: 1400px) {
  .internal-pages-bottom-widgets.topics-bottom-widget .menu {
    columns: 5;
  }
}
.internal-pages-bottom-widgets.sermon-series-widget .menu, .internal-pages-bottom-widgets.sermon-and-speeches-widget .menu {
  columns: 1;
}
@media (min-width: 768px) {
  .internal-pages-bottom-widgets.sermon-series-widget .menu, .internal-pages-bottom-widgets.sermon-and-speeches-widget .menu {
    columns: 2;
    width: 100%;
  }
}
@media (min-width: 1400px) {
  .internal-pages-bottom-widgets.sermon-series-widget .menu, .internal-pages-bottom-widgets.sermon-and-speeches-widget .menu {
    columns: 3;
  }
}

/*# sourceMappingURL=main.css.map */
