.ask-anything {
  overflow: hidden;
  margin: 60px 0;
}
@media (min-width: 768px) {
  .ask-anything {
    margin: 160px 0 100px;
  }
}
.ask-anything .wrapper {
  margin: 0 -60px;
  padding-bottom: 30px;
}
@media (min-width: 992px) {
  .ask-anything .wrapper {
    padding-bottom: 60px;
  }
}
@media (min-width: 1400px) {
  .ask-anything .col-lg--left {
    width: 47.4%;
  }
}
.ask-anything .col {
  width: 100%;
  padding: 0 60px;
  position: relative;
}
@media (min-width: 992px) {
  .ask-anything .col {
    width: 50%;
  }
}
.ask-anything .col:first-child {
  margin-bottom: 80px;
}
@media (min-width: 992px) {
  .ask-anything .col:first-child {
    margin-bottom: 0;
  }
}
.ask-anything .col:first-child::after {
  position: absolute;
  right: 0;
  top: 0;
  content: "";
  height: 100%;
  width: 1px;
  background-color: var(--base-color);
  display: none;
}
@media (min-width: 992px) {
  .ask-anything .col:first-child::after {
    display: block;
  }
}
.ask-anything .sec_title {
  color: var(--base-color);
}
.ask-anything .article_item .image {
  margin-bottom: 19px;
  box-shadow: var(--box-shadow-4);
}
.ask-anything .article_item .details {
  padding-bottom: 0;
  color: var(--base-color);
}
.ask-anything .article_item .details h2 {
  line-height: 1.1;
  margin-bottom: 0;
}
@media (max-width: 767px) {
  .ask-anything .article_item .details h2 {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  .ask-anything .article_item .details h4 {
    font-size: 16px;
  }
}
.ask-anything .audio_box {
  border: unset;
  padding: 0;
  color: var(--base-color);
}
@media (min-width: 1400px) {
  .ask-anything .audio_box {
    margin-top: 15px;
  }
}
.ask-anything .audio_box .audio-player .playhead {
  background: var(--base-color);
}
.ask-anything .view-more-btn {
  margin-top: 20px;
  text-align: right;
}
.ask-anything .book-item {
  align-items: center;
  padding: 0;
}
@media (max-width: 991px) {
  .ask-anything .book-item {
    align-items: flex-start;
  }
}
.ask-anything .book-item .image img {
  max-height: 470px;
}
.ask-anything .book-item .details h3 {
  margin-bottom: 0;
  font-size: 24px;
  font-weight: 500;
}
.ask-anything .book-item .details p {
  margin-bottom: 10px;
}
