.last_articles {
    overflow: hidden;
    margin: 40px 0;

    @media (min-width: 992px) {
        margin: 100px 0;
    }

    @media (min-width: 1920px) {
        margin: 160px 0;
    }

    @media (min-width: 1920px) {
        margin: 160px 0;
    }


    &.article_archives {
        margin: 40px 0;

        @media (min-width: 992px) {
            margin: 100px 0 0;
        }

        @media (min-width: 1920px) {
            margin: 160px 0 0;
        }

        @media (min-width: 1920px) {
            margin: 160px 0 0;
        }
    }


    .sec_title {
        margin-bottom: 34px;

        .flex {
            border-color: #022a42;
        }

        h1 {
            line-height: 1.1;
        }
    }

    .article_item {
        .image {
            display: block;
            width: 100%;
            overflow: hidden;
            box-shadow: var(--box-shadow-4);

            img {
                transition: 0.1s;
                width: 100%;
                max-height: 335px;
                height: auto;
                object-fit: cover;
            }
        }

        .details {
            .country {
                color: var(--navy-05);
                margin-bottom: 20px;
            }

            h2 {
                font-size: 26px;
                margin-bottom: 20px;
                line-height: 100%;
            }

            p {
                color: var(--base-color);
                margin-bottom: 20px;
                line-height: 26px;
            }
        }

        &.single {
            display: flex;
            align-items: center;
            border-bottom: 1px solid #022a42;
            padding-bottom: 60px;

            &:last-of-type {
                border-bottom: 0;
                @media (max-width: 991px) {
                    padding-bottom: 0;
                }
            }


            .row {
                width: 100%;
            }

            .col-lg-5 {
                @media (min-width: 1600px) {
                    min-width: 600px;
                }

                .video {
                    @media (min-width: 1600px) {
                        min-width: 600px;
                    }
                }
            }

            .image {
                margin-right: 40px;
                margin-bottom: 0;

                @media (min-width: 1400px) {
                    max-width: 640px;
                }
            }
        }

        &:hover {
            .image {
                img {
                    transform: scale(1.05);
                }
            }
        }
    }

    .items_list {
        display: flex;
        padding-top: 60px;
        margin: 0 -60px;

        .article_item {
            padding: 0 60px;
            position: relative;

            @media (min-width: 768px) {
                max-width: calc(100% / 2);
            }

            @media (min-width: 992px) {
                min-width: calc(100% / 3);
            }

            &:not(:last-child) {
                &::after {
                    content: "";
                    position: absolute;
                    right: 0;
                    top: 0;
                    height: 100%;
                    width: 1px;
                    background-color: #022a42;
                }
            }

            .image {
                margin-bottom: 26px;

                img {
                    @media (min-width: 1900px) {
                        min-height: 272px;
                    }
                }
            }
        }
    }
}

@media (max-width: 991px) {
    .last_articles {

        .article_item {
            &.single {
                flex-direction: column;

                .image {
                    margin-right: 0;
                    margin-bottom: 24px;
                }
            }
        }

        .items_list {
            flex-wrap: wrap;
            margin: 0 -20px;

            .article_item {
                padding: 0 20px;
                width: 50%;

                &::after {
                    display: none;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .last_articles {
        .items_list {
            .article_item {
                width: 100%;

                &:not(:last-child) {
                    margin-bottom: 34px;
                }
            }
        }
    }
}
