
.audio_box {
    --plyr-color-main: var(--base-color);
    --plyr-control-radius: 50px;
    --plyr-range-track-height: 13px;
    --plyr-range-thumb-background: var(--brick-red);
    --plyr-range-thumb-height: 24px;
    --plyr-range-fill-background: var(--grey-400);
    --plyr-audio-progress-buffered-background: #fff;
    --plyr-range-thumb-shadow: 0;
    --plyr-range-thumb-active-shadow-width: 0;

    .plyr__controls__item {
        &.plyr__control {

            &[data-plyr="play"] {
                background-color: var(--base-color);
                padding: 11px;

                &:hover {
                    scale: 1.09;
                }

                svg {
                    fill: #fff !important;
                    left: 50%;
                    transform: translateX(-50%);
                    position: relative;
                }
            }
        }

        &[data-plyr="rewind"] {
            padding: 4px;

            svg {
                width: 36px;
                height: 36px;
                color: var(--base-color);
                fill: var(--base-color);
            }

            &:hover {
                svg {
                    fill: #fff !important;
                    color: #fff;
                }
            }
        }

        &.plyr__time {
            font-size: 16px;
            padding-left: 5px !important;
            padding-right: 5px !important;
            min-width: 55px;
            color: var(--base-color);

            @media (min-width: 576px) {
                font-size: 26px;
                padding-left: 12px !important;
                padding-right: 12px !important;
                min-width: 88px;
            }
        }
    }


    color: var(--base-color);
    border-top: 1px solid #677f8e;
    border-bottom: 1px solid #677f8e;
    padding: 24px 0;

    @media (min-width: 1400px) {
        margin-top: 27px;
    }

    svg {
        display: block;
    }

    .play_btn {
        cursor: pointer;
        transition: 0.15s;

        &:hover {
            transition: 0.15s;
            transform: scale(1.05);
        }

        svg {
            display: block;
        }

        .pause {
            display: none;
        }

        &.active {
            .icon_start {
                display: none;
            }

            .pause {
                display: block;
            }
        }
    }

    .reset_btn {
        padding: 0;

        &:hover {
            transition: 0.15s;
            transform: scale(1.05);
        }

        svg {
            width: 34px;
            height: 34px;
        }
    }

    .audio-player {
        display: flex;
        align-items: center;
        gap: 12px;
    }

    .audio-player .audio-time {
        font-size: 20px;
        font-weight: 400;

        @media (min-width: 768px) {
            font-size: 26px;
        }

        &[data-elapsed] {
            min-width: 63px;
        }
    }

    .audio-player .indicator-container {
        position: relative;
        flex-grow: 1;
        height: 16px;
        display: flex;
        align-items: center;
    }

    .audio-player .indicator-bar-empty {
        width: 100%;
        height: 16px;
        border: 1px solid var(--navy-05);
        z-index: 0;
    }

    .audio-player .indicator-bar-full {
        position: absolute;
        box-sizing: border-box;
        top: 0;
        height: 16px;
        border-radius: 3px;
        z-index: 25;
    }

    .audio-player .playhead {
        position: absolute;
        top: -5px;
        bottom: -5px;
        width: 12px;
        background: var(--brick-red);
        border-radius: 99px;
        z-index: 3;
        cursor: pointer;
    }

    span.fa {
        cursor: pointer;
    }
}

.article_parts {
    padding: 16px 0;

    .item {
        display: block;
        margin-bottom: 30px;

        &:last-child {
            margin-bottom: 0;
        }

        h3 {
            color: var(--brick-red);
            text-decoration: underline;

            &:hover {
                color: var(--base-color);
            }
        }

        p {
            font-size: 20px;

            @media (min-width: 576px) {
                font-size: 26px;
            }

            &:hover {
                color: var(--brick-red);
            }
        }
    }
}