.blogs_list {
    .sec_title {
        color: var(--base-color);
        margin-bottom: 30px;
    }

    .left {
        width: calc(50% + 60px * 2);
        .article_item {
            .image {
                img {
                    box-shadow: var(--box-shadow-4);
                }
            }
        }
    }

    .right {
        width: calc(50% - 60px);
        display: flex;

        &::before {
            content: "";
            height: 100%;
            width: 1px;
            display: block;
            margin: 0 60px;
            background-color: var(--base-color);
        }
    }

    .wrapper {
        flex-wrap: nowrap;
    }

    .audio_box {
        color: var(--base-color);
        border: unset;
        padding: 0;
        .timeslieder {
            border-color: var(--base-color);
        }
    }

    .article_item {
        .details {
            color: var(--base-color);
            h2 {
                font-size: 26px;
                margin-bottom: 14px;
            }
        }
    }
    .blog_items {
        align-self: center;

        .item {
            color: var(--base-color);

            .image {
                height: fit-content;
                iframe {
                    aspect-ratio: 56/31;
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                }
            }

            &:not(:last-child) {
                margin-bottom: 60px;
            }

            h4 {
                margin-bottom: 0;
                font-size: 16px;

                @media (min-width: 768px) {
                    font-size: 20px;
                }
            }

            p {
                font-size: 26px;

                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        }
    }
}
@media (max-width: 991px) {
    .blogs_list {
        .wrapper {
            flex-wrap: wrap;
        }
        .left,
        .right {
            width: 100% !important;
        }
        .right {
            margin-top: 40px;
            &::before {
                display: none;
            }
        }
    }
}
