.blogs_list {
    .sec_title {
        color: var(--olive-green);
        margin-bottom: 30px;
    }

    .left {
        width: calc(50% + 60px * 2);
        .article_item {
            .image {
                img {
                    box-shadow: var(--box-shadow-4);
                }
            }
        }
    }

    .right {
        width: calc(50% - 60px);
        display: flex;

        &::before {
            content: "";
            height: 100%;
            width: 1px;
            display: block;
            margin: 0 60px;
            background-color: var(--olive-green);
        }
    }

    .wrapper {
        flex-wrap: nowrap;
    }

    .audio_box {
        color: var(--olive-green);
        border: unset;
        padding: 0;
        .timeslieder {
            border-color: var(--olive-green);
        }
    }

    .article_item {
        .details {
            color: var(--olive-green);
            h2 {
                font-size: 26px;
                margin-bottom: 14px;
            }
        }
    }
    .blog_items {
        align-self: center;

        .item {
            color: #575a5d;
            .image {
                height: fit-content;
                iframe {
                    aspect-ratio: 56/31;
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                }
            }

            &:not(:last-child) {
                margin-bottom: 60px;
            }

            h4 {
                margin-bottom: 8px;
            }

            p {
                font-size: 26px;
            }
        }
    }
}
@media (max-width: 991px) {
    .blogs_list {
        .wrapper {
            flex-wrap: wrap;
        }
        .left,
        .right {
            width: 100% !important;
        }
        .right {
            margin-top: 40px;
            &::before {
                display: none;
            }
        }
    }
}
.speaking_teaching {
    .sec_title {
        color: var(--slate-base);
        .flex {
            border-color: var(--slate-base);
        }
    }
    .left {
        width: calc(30% + 120px);
    }
    .right {
        width: calc(70% - 60px);
    }
    .blog_items {
        .item {
            display: flex;
            align-items: center;
            gap: 40px;
            &:not(:last-child) {
                margin-bottom: 20px;
            }
            .image {
                width: 200px;
                flex-shrink: 0;
                box-shadow: var(--box-shadow-4);
            }
            .details {
                h4 {
                    margin-bottom: 0;
                }
            }
        }
    }
}
@media (max-width: 768px) {
    .speaking_teaching {
        .blog_items {
            .item {
                flex-direction: column;
                align-items: flex-start;
                gap: 12px;
                &:not(:last-child) {
                    margin-bottom: 40px;
                }
                .image {
                    width: 100%;
                }
            }
        }
    }
}
