.sidebar-widgets-wrapper {
    max-width: 313px;
    top: 100px;
    flex-shrink: 0;
    height: fit-content;
    margin-bottom: 20px;

    @media (min-width: 992px) {
        position: sticky;
        margin-bottom: 40px;
    }
}

.sidebar-widget {
    background-color: var(--gold);
    color: white;
    width: 100%;
    padding: 20px;
    margin-bottom: 30px;

    &:last-child {
        margin-bottom: 0;
    }

    h2 {
        font-size: 24px;
        font-family: freight-text-pro, serif;
        font-weight: 700;
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 1px solid var(--grey-400);
    }

    .menu-item {
        a {
            font-size: 20px;
            text-decoration: underline;
            line-height: 1.5;
        }
    }

    .menu-item-description {
        font-size: 16px;
        font-style: italic;
    }

    &.about-page-widget {
        li a {
            &:hover {
                color: currentColor;
                opacity: 0.8;
            }
        }
    }
}