.the-briefing-citations-sidebar {
    h1, h2 {
        font-size: 24px;
        font-family: freight-text-pro, serif;
        font-weight: 700;
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 1px solid var(--grey-400);
    }

    p {
        font-size: 16px;
    }

    .publication {
        margin-bottom: 0 !important;
        font-weight: bold;
    }

    .citation-link {
        font-style: italic;
        margin-bottom: 1.5rem;

        &:hover {
            color: white !important;
            opacity: 0.8;
        }
    }
}