// Colors

:root {
    --base-color: #022a42;
    --slate-base: #516668;
    --navy-02: #011928;
    --navy-05: #677F8E;
    --gold: #C39948;
    --gold-hover: #b18b41;
    --brick-red: #9f3a22;
    --brick-red-hover: #942e15;
    --olive-green: #606036;
    --grey-100: #0f1318;
    --grey-200: #575A5D;
    --grey-300: #9FA1A3;
    --grey-400: #E7E7E8;
    --box-shadow-4:  0px 24px 35px 0px rgba(0, 0, 0, 0.04), 0px 9px 46px 0px rgba(0, 0, 0, 0.06), 0px 11px 15px 0px rgba(0, 0, 0, 0.10);
}
