.speaking-teaching .sec_title {
  color: var(--base-color) !important;
}
.speaking-teaching .sec_title .flex {
  border-color: var(--base-color);
}
.speaking-teaching .left {
  width: calc(30% + 120px);
}
.speaking-teaching .right {
  width: calc(70% - 60px);
}
.speaking-teaching .right:before {
  background-color: var(--base-color);
}
.speaking-teaching .article_item .image {
  margin-bottom: 19px;
}
.speaking-teaching .article_item .details {
  padding-bottom: 0;
  color: var(--base-color);
}
.speaking-teaching .article_item .details h2 {
  line-height: 1.1;
  margin-bottom: 0;
}
.speaking-teaching .audio_box {
  color: var(--base-color);
}
@media (min-width: 1400px) {
  .speaking-teaching .audio_box {
    margin-top: 15px;
  }
}
.speaking-teaching .audio_box .audio-player .playhead {
  background: var(--base-color);
}
.speaking-teaching .blog_items .item {
  color: var(--base-color);
  display: flex;
  align-items: center;
  gap: 40px;
}
.speaking-teaching .blog_items .item:not(:last-child) {
  margin-bottom: 20px;
}
.speaking-teaching .blog_items .item .image {
  width: 200px;
  flex-shrink: 0;
  box-shadow: var(--box-shadow-4);
}
.speaking-teaching .blog_items .item .details h4 {
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .speaking-teaching .blog_items .item {
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }
  .speaking-teaching .blog_items .item:not(:last-child) {
    margin-bottom: 40px;
  }
  .speaking-teaching .blog_items .item .image {
    width: 100%;
  }
}
