.speaking-teaching {
    .sec_title {
        color: var(--base-color) !important;
        .flex {
            border-color: var(--base-color);
        }
    }
    .left {
        width: calc(30% + 120px);
    }
    .right {
        width: calc(70% - 60px);

        &:before {
            background-color: #5166684d;
        }
    }

    .article_item {
        .image {
            margin-bottom: 19px;
        }

        .details {
            padding-bottom: 0;
            color: var(--base-color);

            h2 {
                line-height: 1.1;
                margin-bottom: 0;
            }
        }
    }

    .audio_box {
        color: var(--base-color);

        @media (min-width: 1400px) {
            margin-top: 15px;
        }

        .audio-player {
            .playhead {
                background: var(--base-color);
            }
        }
    }

    .blog_items {
        .item {
            color: var(--base-color);
            display: flex;
            align-items: center;
            gap: 40px;
            &:not(:last-child) {
                margin-bottom: 20px;
            }
            .image {
                width: 200px;
                flex-shrink: 0;
                box-shadow: var(--box-shadow-4);
            }
            .details {
                h4 {
                    margin-bottom: 0;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .speaking-teaching {
        .blog_items {
            .item {
                flex-direction: column;
                align-items: flex-start;
                gap: 12px;
                &:not(:last-child) {
                    margin-bottom: 40px;
                }
                .image {
                    width: 100%;
                }
            }
        }
    }
}
